<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="PROGRAM_NAME" value="PIN003H2"/>
    <add key="CONN_STR" value="Data Source=192.168.27.229;User ID=PRD_MSI_AL01;Password=PRD_MSI_AL01123;"/>
    <add key="QUERY" value="
WITH DATA_PINJAMAN (TANGGAL, BR_CD, NAMA_CABANG, ACCT_TYPE, ID, ID2, ID3, NAMA_PROD, NO_CIF, NO_REKENING, NAMA_DEBITUR, GLCC,SEG, JENIS_PGUNAAN, 
PML_BI, KOL, JW, MAKSIMUM_KREDIT, IZIN_TARIK, SALDO_AKHIR, POKOK_TUNGGAKAN, BUNGA, SALDO_DENDA, DISPONIBLE, UTIL_REK, NAMA_GL)
AS (
SELECT
TANGGAL,
A.CABANG, 
 B.BRANCH_NAME, 
TRIM(TRIM(TO_CHAR( C.ACCOUNT_TYPE,'0000')) || '  '  || TRIM(TO_CHAR(C.SUB_CATEGORY,'0000'))),
 TRIM(TRIM(TO_CHAR(CABANG)) || TRIM( TO_CHAR(C.ACCOUNT_TYPE)) || TRIM(TO_CHAR(C.SUB_CATEGORY)) || TRIM(CCY) || TRIM(A.KOLEKTIBILITAS) || TRIM(TO_CHAR(KODE_SEGMEN_PASAR))),
  TRIM(TRIM(TO_CHAR(CABANG)) || TRIM( TO_CHAR(C.ACCOUNT_TYPE)) || TRIM(TO_CHAR(C.SUB_CATEGORY)) || TRIM(CCY)),
   TRIM(TRIM(TO_CHAR(CABANG)) || TRIM(TO_CHAR(GLCC)) || TRIM(CCY)),
 TRIM(C.PRD_NAME) || '  ' || TRIM(A.CCY) || '  ' || TRIM(D.PARAM_VALUE) || '  ' || TRIM(A.KETERANGAN_KOLEKTIBILITAS),
 TO_CHAR(CIF_KEY),
 TO_CHAR(NO_REKENING, '0000000000000000'),
 SUBSTR(NAMA_NASABAH, 0, 21),
 TO_CHAR(GLCC),
 TO_CHAR(KODE_SEGMEN_PASAR),
 CASE WHEN KODE_PEMBIAYAAN_BI = 0 THEN '' ELSE TO_CHAR(KODE_PEMBIAYAAN_BI) END,
 KODE_PEMILIK_BI,
 ACTUAL_CREDIT_STATUS_CD,
 JANGKA_WAKTU,
 COALESCE(MAKSIMUM_PINJAMAN,0) MAKSIMUM_PINJAMAN,
 COALESCE(IJIN_TARIK,0) IJIN_TARIK,
 COALESCE(SALDO_AKHIR,0) SALDO_AKHIR,
 COALESCE(TUNGGAKAN_POKOK,0) TUNGGAKAN_POKOK,
 COALESCE(BUNGA,0) BUNGA,
 COALESCE(SALDO_DENDA,0) SALDO_DENDA ,
 COALESCE(DISPONIBLE,0) DISPONIBLE ,
 COALESCE(UTILISASI_REKENING,0) UTILISASI_REKENING,
  TRIM(E.PARAM_VALUE) || ' ' || TRIM(A.CCY) || ' ' || TRIM(D.PARAM_VALUE) || ' ' || TRIM(A.KETERANGAN_KOLEKTIBILITAS)
 FROM PRD_BNI_RPT.P_OP_PIN003H2 A
 INNER JOIN PRD_BNI_SRI.LOOKUP_BRANCH B 
 ON A.CABANG = B.BRANCH_CODE
 AND TANGGAL = '2020-02-19'
 INNER JOIN PRD_BNI_SRI.LOOKUP_PRODUCT C 
 ON A.ACCOUNT_TYPE = C.ACCOUNT_TYPE 
 AND A.SUB_CATEGORY = C.SUB_CATEGORY
 INNER JOIN PRD_BNI_SRI.BNI_PARAMETER D
 ON FLOOR(KODE_SEGMEN_PASAR/100) = TO_NUMBER(D.PARAM_NAME)
 AND D.PARAM_TYPE = 'MKT_SEG'
 INNER JOIN PRD_BNI_SRI.BNI_PARAMETER E
 ON GLCC = CAST(E.PARAM_NAME AS DECIMAL(10))
 AND E.PARAM_TYPE = 'GLCC_NAME'
 )

SELECT * FROM
(
 SELECT 
CASE WHEN SUBSTR(A.ACCT_TYPE,1,1) = 9 THEN  4 ELSE 1 END IDX, 
A.TANGGAL, A.BR_CD, A.NAMA_CABANG, A.ACCT_TYPE, A.ID, A.ID2, A.ID3, A.NAMA_PROD, A.NO_CIF, A.NO_REKENING, A.NAMA_DEBITUR, A.GLCC,A.SEG, A.JENIS_PGUNAAN, A.PML_BI, A.KOL, A.JW, 
 COALESCE(A.MAKSIMUM_KREDIT,0) MAKSIMUM_KREDIT,
 COALESCE(A.IZIN_TARIK,0) IZIN_TARIK,
 COALESCE(A.SALDO_AKHIR,0) SALDO_AKHIR,
 COALESCE(A.POKOK_TUNGGAKAN,0) POKOK_TUNGGAKAN,
 COALESCE(A.BUNGA,0) BUNGA,
 COALESCE(A.SALDO_DENDA,0) SALDO_DENDA ,
 COALESCE(A.DISPONIBLE,0) DISPONIBLE ,
 COALESCE(A.UTIL_REK,0) UTIL_REK,
 NAMA_GL,
 CONT,
 COALESCE(TOT_MAKSIMUM_KREDIT,0) TOT_MAKSIMUM_KREDIT,
 COALESCE(TOT_IZIN_TARIK,0) TOT_IZIN_TARIK,
 COALESCE(TOT_SALDO_AKHIR_PLUS,0) TOT_SALDO_AKHIR_PLUS,
 COALESCE(TOT_SALDO_AKHIR_MIN,0) TOT_SALDO_AKHIR_MIN,
 COALESCE(TOT_POKOK_TUNGGAKAN,0) TOT_POKOK_TUNGGAKAN,
 COALESCE(TOT_BUNGA,0) TOT_BUNGA,
 COALESCE(TOT_SALDO_DENDA,0) TOT_SALDO_DENDA,
 COALESCE(TOT_DISPONIBLE,0) TOT_DISPONIBLE
 FROM DATA_PINJAMAN A
  INNER JOIN 
 			(SELECT 
			BR_CD, ID,
			COUNT(NAMA_PROD) CONT
			FROM DATA_PINJAMAN
			GROUP BY BR_CD, ID) E
 ON A.BR_CD = E.BR_CD
 AND A.ID = E.ID
 INNER JOIN
			(SELECT 
			ID,
			SUM(COALESCE(MAKSIMUM_KREDIT,0)) TOT_MAKSIMUM_KREDIT, 
			SUM(COALESCE(IZIN_TARIK,0)) TOT_IZIN_TARIK, 
			SUM(COALESCE(POKOK_TUNGGAKAN,0)) TOT_POKOK_TUNGGAKAN, 
			SUM(COALESCE(BUNGA,0)) TOT_BUNGA, 
			SUM(COALESCE(SALDO_DENDA,0)) TOT_SALDO_DENDA, 
			SUM(COALESCE(DISPONIBLE,0)) TOT_DISPONIBLE
			FROM DATA_PINJAMAN
			GROUP BY ID) B
 ON A.ID = B.ID
 LEFT JOIN
					(SELECT 
					ID,
					SUM(COALESCE(SALDO_AKHIR,0)) TOT_SALDO_AKHIR_PLUS
					FROM DATA_PINJAMAN
					WHERE SALDO_AKHIR &gt; 0
					GROUP BY ID) C
 ON A.ID = C.ID
 LEFT JOIN
							(SELECT 
							ID,
							SUM(COALESCE(SALDO_AKHIR,0)) TOT_SALDO_AKHIR_MIN
							FROM DATA_PINJAMAN
							WHERE SALDO_AKHIR &lt; 0
							GROUP BY ID) D
 ON A.ID = D.ID
 
 UNION ALL

SELECT
CASE WHEN SUBSTR(A.ACCT_TYPE,1,1) = 9 THEN  5 ELSE 2 END IDX, 
TANGGAL, A.BR_CD, A.NAMA_CABANG, A.ACCT_TYPE, '' ID, A.ID2, '' ID3,
A.NAMA_PROD, '' NO_CIF, '' NO_REKENING, '' NAMA_DEBITUR, '' GLCC, '' SEG, '' JENIS_PGUNAAN ,'' PML_BI ,0 KOL, 0 JW,
 COALESCE(MAKSIMUM_KREDIT,0) MAKSIMUM_KREDIT,
 COALESCE(IZIN_TARIK,0) IZIN_TARIK,
 COALESCE(SALDO_AKHIR,0) SALDO_AKHIR,
 COALESCE(POKOK_TUNGGAKAN,0) POKOK_TUNGGAKAN,
 COALESCE(BUNGA,0) BUNGA,
 COALESCE(SALDO_DENDA,0) SALDO_DENDA ,
 COALESCE(DISPONIBLE,0) DISPONIBLE ,
 0 UTIL_REK,
 '' NAMA_GL,
  CONT,
 COALESCE(TOT_MAKSIMUM_KREDIT,0) TOT_MAKSIMUM_KREDIT,
 COALESCE(TOT_IZIN_TARIK,0) TOT_IZIN_TARIK,
 COALESCE(TOT_SALDO_AKHIR_PLUS,0) TOT_SALDO_AKHIR_PLUS,
 COALESCE(TOT_SALDO_AKHIR_MIN,0) TOT_SALDO_AKHIR_MIN,
 COALESCE(TOT_POKOK_TUNGGAKAN,0) TOT_POKOK_TUNGGAKAN,
 COALESCE(TOT_BUNGA,0) TOT_BUNGA,
 COALESCE(TOT_SALDO_DENDA,0) TOT_SALDO_DENDA,
 COALESCE(TOT_DISPONIBLE,0) TOT_DISPONIBLE
FROM 
(SELECT TANGGAL, A.BR_CD,  A.NAMA_CABANG, A.ID2, A.NAMA_PROD, ACCT_TYPE,
SUM(COALESCE(MAKSIMUM_KREDIT,0)) MAKSIMUM_KREDIT, 
SUM(COALESCE(IZIN_TARIK,0)) IZIN_TARIK, 
SUM(COALESCE(SALDO_AKHIR,0)) SALDO_AKHIR,
SUM(COALESCE(POKOK_TUNGGAKAN,0)) POKOK_TUNGGAKAN, 
SUM(COALESCE(BUNGA,0)) BUNGA, 
SUM(COALESCE(SALDO_DENDA,0)) SALDO_DENDA, 
SUM(COALESCE(DISPONIBLE,0)) DISPONIBLE
FROM DATA_PINJAMAN A
GROUP BY TANGGAL, A.BR_CD,  A.NAMA_CABANG, A.ID2, A.NAMA_PROD, ACCT_TYPE) A
  INNER JOIN 
 			(SELECT ID2, COUNT(NAMA_PROD) CONT
			FROM
				(SELECT 
				ID2, NAMA_PROD
				FROM DATA_PINJAMAN
				GROUP BY ID2, NAMA_PROD) A
			GROUP BY ID2) E
 ON  A.ID2 = E.ID2
 INNER JOIN
			(SELECT 
			ID2,
			SUM(COALESCE(MAKSIMUM_KREDIT,0)) TOT_MAKSIMUM_KREDIT, 
			SUM(COALESCE(IZIN_TARIK,0)) TOT_IZIN_TARIK, 
			SUM(COALESCE(POKOK_TUNGGAKAN,0)) TOT_POKOK_TUNGGAKAN, 
			SUM(COALESCE(BUNGA,0)) TOT_BUNGA, 
			SUM(COALESCE(SALDO_DENDA,0)) TOT_SALDO_DENDA, 
			SUM(COALESCE(DISPONIBLE,0)) TOT_DISPONIBLE
			FROM DATA_PINJAMAN A
			GROUP BY ID2) B
 ON  A.ID2 = B.ID2
 LEFT JOIN
					(SELECT 
							ID2,
							SUM(TOT_SALDO_AKHIR_PLUS) TOT_SALDO_AKHIR_PLUS
							FROM(
								SELECT 
								ID2, NAMA_PROD,
								SUM(COALESCE(SALDO_AKHIR,0)) TOT_SALDO_AKHIR_PLUS
								FROM DATA_PINJAMAN
								GROUP BY  ID2, NAMA_PROD
							) A WHERE TOT_SALDO_AKHIR_PLUS &gt; 0
							GROUP BY ID2) C
 ON  A.ID2 = C.ID2
 LEFT JOIN
							(SELECT 
							ID2,
							SUM(TOT_SALDO_AKHIR_MIN) TOT_SALDO_AKHIR_MIN
							FROM(
								SELECT 
								ID2, NAMA_PROD,
								SUM(COALESCE(SALDO_AKHIR,0)) TOT_SALDO_AKHIR_MIN
								FROM DATA_PINJAMAN
								GROUP BY  ID2, NAMA_PROD
							) A WHERE TOT_SALDO_AKHIR_MIN &lt; 0
							GROUP BY ID2) D
 ON  A.ID2 = D.ID2
 
 UNION ALL
 
  SELECT
A.IDX, 
TANGGAL, A.BR_CD, A.NAMA_CABANG, A.GLCC AS ACCT_TYPE, '' ID, '' ID2, A.ID3,
A.NAMA_GL AS NAMA_PROD, '' NO_CIF, '' NO_REKENING, '' NAMA_DEBITUR, A.GLCC, '' SEG, '' JENIS_PGUNAAN ,'' PML_BI ,0 KOL, 0 JW, 
 COALESCE(MAKSIMUM_KREDIT,0) MAKSIMUM_KREDIT,
 COALESCE(IZIN_TARIK,0) IZIN_TARIK,
 COALESCE(SALDO_AKHIR,0) SALDO_AKHIR,
 COALESCE(POKOK_TUNGGAKAN,0) POKOK_TUNGGAKAN,
 COALESCE(BUNGA,0) BUNGA,
 COALESCE(SALDO_DENDA,0) SALDO_DENDA ,
 COALESCE(DISPONIBLE,0) DISPONIBLE ,
 0 UTIL_REK,
 '' NAMA_GL,
  CONT,
 COALESCE(TOT_MAKSIMUM_KREDIT,0) TOT_MAKSIMUM_KREDIT,
 COALESCE(TOT_IZIN_TARIK,0) TOT_IZIN_TARIK,
 COALESCE(TOT_SALDO_AKHIR,0) TOT_SALDO_AKHIR_PLUS,
 0 TOT_SALDO_AKHIR_MIN,
 COALESCE(TOT_POKOK_TUNGGAKAN,0) TOT_POKOK_TUNGGAKAN,
 COALESCE(TOT_BUNGA,0) TOT_BUNGA,
 COALESCE(TOT_SALDO_DENDA,0) TOT_SALDO_DENDA,
 COALESCE(TOT_DISPONIBLE,0) TOT_DISPONIBLE
FROM 
(SELECT 
CASE WHEN SUBSTR(A.ACCT_TYPE,1,1) = 9 THEN  6 ELSE 3 END IDX, 
TANGGAL, A.BR_CD,  A.NAMA_CABANG, A.NAMA_GL, ID3, GLCC,
SUM(COALESCE(MAKSIMUM_KREDIT,0)) MAKSIMUM_KREDIT, 
SUM(COALESCE(IZIN_TARIK,0)) IZIN_TARIK, 
SUM(COALESCE(SALDO_AKHIR,0)) SALDO_AKHIR,
SUM(COALESCE(POKOK_TUNGGAKAN,0)) POKOK_TUNGGAKAN, 
SUM(COALESCE(BUNGA,0)) BUNGA, 
SUM(COALESCE(SALDO_DENDA,0)) SALDO_DENDA, 
SUM(COALESCE(DISPONIBLE,0)) DISPONIBLE
FROM DATA_PINJAMAN A
GROUP BY TANGGAL, A.BR_CD,  A.NAMA_CABANG, A.NAMA_GL, ID3, GLCC, IDX) A
  INNER JOIN 
 			(SELECT ID3, COUNT(NAMA_GL) CONT
			FROM
				(SELECT 
				ID3, NAMA_GL
				FROM DATA_PINJAMAN
				GROUP BY ID3, NAMA_GL) A
			GROUP BY ID3) E
 ON  A.ID3 = E.ID3
 INNER JOIN
			(SELECT 
			ID3,
			SUM(COALESCE(MAKSIMUM_KREDIT,0)) TOT_MAKSIMUM_KREDIT, 
			SUM(COALESCE(IZIN_TARIK,0)) TOT_IZIN_TARIK, 
			SUM(COALESCE(SALDO_AKHIR,0)) TOT_SALDO_AKHIR,
			SUM(COALESCE(POKOK_TUNGGAKAN,0)) TOT_POKOK_TUNGGAKAN, 
			SUM(COALESCE(BUNGA,0)) TOT_BUNGA, 
			SUM(COALESCE(SALDO_DENDA,0)) TOT_SALDO_DENDA, 
			SUM(COALESCE(DISPONIBLE,0)) TOT_DISPONIBLE
			FROM DATA_PINJAMAN A
			GROUP BY ID3) B
 ON  A.ID3 = B.ID3
) A
ORDER BY  A.NAMA_CABANG, IDX, A.ACCT_TYPE, A.SEG, A.NAMA_PROD, CONT, NO_REKENING
"/>
    <add key="PRINT_QUERY" value="N"/>
    <add key="TIMEOUT" value="6000"/>
    <add key="FILENAME" value="PIN003H2_1.txt"/>
    <add key="DIRECTORY" value="C:\ReportNet\Mulai\"/>
    <add key="RUN_FTP" value="N"/>
    <add key="FTP_ZIP" value="N"/>
    <add key="FTP" value="ftp://172.18.40.65/INSTALLER_IDE/"/>
    <add key="USERNAME" value="SHARE_FTP"/>
    <add key="PASSWORD" value="SHARE_FTP"/>
    <add key="READ_KEY" value="Y"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>
